---
interface Props {
  class?: string;
}
const { class: className } = Astro.props;
---

<a href="/" class:list={["inline-flex items-center", className]}>
  <img src="/logo.svg" alt="Yanely García, Nutrióloga" class="h-12 w-auto" />
</a>
